@media screen and (min-width: 428px) {
    .hero-title {
        max-width: 320px;
    }
    .mobile-tel .mobile-contact__link {
        font-size: 36px;
    }
    .modal {
        width: 392px;
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-1x-768-min.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-2x-768-min.jpg);;
        }
    }
}

@media (max-height: 600px) {
    .modal {
        max-height: 80vh;
        min-height: unset;
        overflow: scroll;
    }
}

