@media screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
        width: 768px;
    }
    .container-second, .customers-container, .footer-container {
        width: 584px;
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px auto;
    }
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .benefits-list-item {
        width: calc((100% - 24px) / 2);
    }
    .benefits-list-item-title {
        text-align: unset;
    }
    .team-list {
        display: flex;
        gap: 64px 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .team-list__item {
        width: calc((100% - 24px) / 2);
    }
    .customers-list {
        gap: 72px 24px;
    }
    .customers-list__item-wrapper {
        width: calc((100% - 48px) / 3);
    }
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-inner {
        flex-direction: row;
        justify-content: unset;
    }
    .footer-info {
        margin: unset;
        align-items: flex-start;
        margin-right: 24px;
        width: 264px;
    }
    .footer-info__text {
        margin-bottom: 0;
    }
    .footer-social_title {
        text-align: left;
        margin-bottom: 16px;
    }
    .footer-form__text {
        text-align: left;
    }
    .footer-form__form {
        flex-direction: row;
        gap: 24px;
    }
    .footer-form__label {
        width: 264px;
    }
    .header-menu, .header-address {
        display: flex;
    }
    .header-menu__icon {
        display: none;
    }
}
